/* styles go here */
.fieldset {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.car > select {
  overflow-y: hidden;
}

.facts__answer {
  display: inline-block;
}
